@{
    ViewData["Title"] = "Home";
}

<script src="~/js/bootstrap.js"></script>
<script src="~/js/jquery-1.10.2.js"></script>

<link href="~/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br />

<body style="background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url('https://decocards.files.wordpress.com/2009/12/decemberr-09-torn-pages-calendar-1680x1050.jpg');background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <header>
        <div class="navbar navbar-default navbar-fixed-top text-uppercase">
            <div class="container">
                <div class="navbar-header">
                    <a href="" class="navbar-brand"><i class="fa fa-home" style="font-size:20px;color:gray"></i>   Home</a>
                    <a href="~/User/Calendar" class="navbar-brand"><i class="fa fa-address-card" style="font-size:20px;color:gray"></i>  Calendar</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/User/Register">Register  <i class="fa fa-user-plus" style="font-size:20px;color:gray"></i></a> </li>
                        <li><a href="~/User/Login">Login  <i class="fa fa-user-circle" style="font-size:20px;color:gray"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div style="height:475px">
        <br />
        <div style="padding-left:150px;">
            <h1>Create your Account</h1>
            <br />
            <h3>. . . to control your events</h3>
            <br />
            <h1>
                <a href="User/Login" style="display: block;
    width: 133px;
    height: 77px;
    background: lemonchiffon;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    color: currentColor;
    font-weight: bold;">Login</a>
            </h1>
            <br />
            <h1>
                <a href="User/Register" style="display: block;
    width: 195px;
    height: 77px;
    background: lemonchiffon;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    color: currentColor;
    font-weight: bold;">Register</a>
            </h1>
        </div>
    </div>
</body>