@model EventCalendarManager.Models.User
@{
    ViewData["Title"] = "Register";
}

<script src="~/js/bootstrap.js"></script>
<script src="~/js/jquery-1.10.2.js"></script>

<link href="~/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br />
<h2 style="padding-left:30px">Register User</h2>
<hr />

<body style="background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url('https://decocards.files.wordpress.com/2009/12/decemberr-09-torn-pages-calendar-1680x1050.jpg');background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <header>
        <div class="navbar navbar-default navbar-fixed-top text-uppercase">
            <div class="container">
                <div class="navbar-header">
                    <a href="../.." class="navbar-brand"><i class="fa fa-home" style="font-size:20px;color:gray"></i>   Home</a>
                    <a href="~/User/Calendar" class="navbar-brand"><i class="fa fa-address-card" style="font-size:20px;color:gray"></i>  Calendar</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/User/Register">Register  <i class="fa fa-user-plus" style="font-size:20px;color:gray"></i></a> </li>
                        <li><a href="~/User/Login">Login  <i class="fa fa-user-circle" style="font-size:20px;color:gray"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container body-content span=8 offset=2">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            @if (Model != null && Model.Email == "Incorrect Email")
                            {
                                <h5 class="text-danger">User with the same Email already exists</h5>
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>